<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Funder &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    
    
    
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">


    
    
  </head>
  <body style="background-image: url('images/bg.jpg');">
  
  <div class="site-wrap">

    

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo"><a href="index.html" class="font-weight-bold">VOYAGE</a></h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class="has-children">
                      <a href="insurance.html">Region</a>
                      <ul class="dropdown arrow-top">
                        <li class="has-children">
                          <a href="#">North</a>
                          <ul class="dropdown">
                            <li><a href="insurance.html">Home Insurance</a></li>
                            <li><a href="insurance.html">Auto Insurance</a></li>
                            <li><a href="insurance.html">Travel Insurance</a></li>
                          </ul>
                        </li>

                        <li class="has-children">
                            <a href="#">North East</a>
                            <ul class="dropdown">
                              <li><a href="insurance.html">Home Insurance</a></li>
                              <li><a href="insurance.html">Auto Insurance</a></li>
                              <li><a href="insurance.html">Travel Insurance</a></li>
                            </ul>
                          </li>
                          <li class="has-children">
                              <a href="#">Central</a>
                              <ul class="dropdown">
                                <li><a href="insurance.html">Home Insurance</a></li>
                                <li><a href="insurance.html">Auto Insurance</a></li>
                                <li><a href="insurance.html">Travel Insurance</a></li>
                              </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Southern</a>
                                <ul class="dropdown">
                                  <li><a href="insurance.html">Home Insurance</a></li>
                                  <li><a href="insurance.html">Auto Insurance</a></li>
                                  <li><a href="insurance.html">Travel Insurance</a></li>
                                </ul>
                              </li>
                              
                      </ul>
                    </li>
                    
                    
                    <li><a href="Login.html"><span class="d-inline-block p-3 bg-primary text-white btn btn-primary">Login</span></a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  
   
      
      <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade">
              <h1 class="font-secondary font-weight-bold text-uppercase">Recommend</h1>
              
            </div>
          </div>
        </div>
      </div>  

      

    <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="media-image">
                <img src="images/5 ดอยดัง.jpg" alt="Image" class="img-fluid">
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">เที่ยวล่าสุดแนะนำ 5 ดอยดัง</h2>
                  <span class="d-block mb-3">By Aomsin &mdash; Feb. 20, 2019</span>
                  <p>สูดกลิ่นอายอากาศอันบริสุทธิ์ พร้อมชมวิวมุมสูงสุดตระการตา ที่ 5 ดอยดัง เหนือเมืองเชียงใหม่... ด้วยความที่ภูมิประเทศของจังหวัดเชียงใหม่ รอบล้อมไปด้วยเทือกเขาและเป็นที่ราบสูง...</p>
                  <p><a href="Doi.html">Read More</a></p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="media-image">
                <img src="images/samui.jpg" alt="Image" class="img-fluid">
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">พิกัดยอดฮิตในเกาะสมุย</h2>
                  <span class="d-block mb-3">By Sine &mdash; Feb. 23, 2019</span>
                  <p>เที่ยวสมุย ครั้งแรก… มันก็จะวุ่นวายหน่อยๆงี้…  พิกัดไหนน่าไปเที่ยว ร้านไหนน่าไปกิน และรีสอร์ทไหนน่าไปพักผ่อนนอนชิลๆ เปิดอินเตอร์เน็ต ถามอากู๋ ( google ) รัวๆ...</p>
                  <p><a href="samui.html">Read More</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="media-image">
                <img src="images/nongkhai.jpg" alt="Image" class="img-fluid">
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">สถานที่เที่ยวหนองคาย ไปแล้วใจละลาย </h2>
                  <span class="d-block mb-3">By Por &mdash; Feb. 28, 2019</span>
                  <p>หลายๆ คนอาจจะยังไม่เคยไปเยือนสถานที่เที่ยวหนองคาย แต่เราขอบอกก่อนเลยว่าถ้าใครได้ลองไป “หนองคาย”  เมืองสโลวไลฟ์ริมฝั่งโขงอันทรงเสน่ห์...</p>
                  <p><a href="NongKhai.html">Read More</a></p>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="media-image">
                <img src="images/supun.jpg" alt="Image" class="img-fluid">
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">สถานที่ท่องเที่ยวสุพรรณบุรี</h2>
                  <span class="d-block mb-3">By Tar &mdash; Mar. 2, 2019</span>
                  <p> ชวนเที่ยวจังหวัดสุพรรณบุรี ยลแหล่งท่องเที่ยวดี ๆ ทั้งธรรมชาติ วัฒนธรรม และประวัติศาสตร์ พร้อมทั้งสถานที่ช้อปปิ้งสินค้าพื้นเมืองและอาหารท้องถิ่นอร่อยเด็ด ไม่ไกลกรุงเทพฯ..</p>
                  <p><a href="supun.html">Read More</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="media-image">
                <img src="images/Phuket.jpg" alt="Image" class="img-fluid">
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">ที่เที่ยวภูเก็ต</h2>
                  <span class="d-block mb-3">By James &mdash; Mar. 9, 2019</span>
                  <p>ที่เที่ยวภูเก็ต – ใครที่กำลังวางแผนไปเที่ยวทะเล เชื่อได้เลยว่าหลายๆ คนจะต้องมีภูเก็ตเป็นหนึ่งตัวเลือกในใจแน่นอน เพราะภูเก็ตนั้นเป็นไข่มุกแห่งอันดามัน มีสถานที่ท่องเที่ยวดีๆ เด็ดๆ มากมาย...</p>
                  <p><a href="Phuket.html">Read More</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="media-image">
                <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                <div class="media-image-body">
                  <h2 class="font-secondary text-uppercase">Travel Insurance</h2>
                  <span class="d-block mb-3">By James &mdash; Jan. 20, 2019</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, voluptate.</p>
                  <p><a href="#">Read More</a></p>
                </div>
              </div>
            </div>
          </div>
    


    
        </div>
          <footer class="site-footer">
              <div class="container">
                
        
                <div class="row">
                  <div class="col-md-4">
                    <h3 class="footer-heading mb-4 text-white">About</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
                    <p><a href="#" class="btn btn-primary rounded text-white px-4">Read More</a></p>
                  </div>
                  <div class="col-md-5 ml-auto">
                    <div class="row">
                      <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                          <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Privacy</a></li>
                          </ul>
                      </div>
                      <div class="col-md-6">
                        <h3 class="footer-heading mb-4 text-white">Insurance</h3>
                          <ul class="list-unstyled">
                            <li><a href="#">Home Insurance</a></li>
                            <li><a href="#">Auto Insurance</a></li>
                            <li><a href="#">Travel Insurance</a></li>
                            <li><a href="#">Business Insurance</a></li>
                          </ul>
                      </div>
                    </div>
                  </div>
        
                  
                  <div class="col-md-2">
                    <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
                      <div class="col-md-12">
                        <p>
                          <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                          <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                          <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                          <a href="#" class="p-2"><span class="icon-vimeo"></span></a>
        
                        </p>
                      </div>
                  </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                  <div class="col-md-12">
                    <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy; <script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                  </div>
                  
                </div>
              </div>
            </footer>
          </div>
        
          <script src="js/jquery-3.3.1.min.js"></script>
          <script src="js/jquery-migrate-3.0.1.min.js"></script>
          <script src="js/jquery-ui.js"></script>
          <script src="js/popper.min.js"></script>
          <script src="js/bootstrap.min.js"></script>
          <script src="js/owl.carousel.min.js"></script>
          <script src="js/jquery.stellar.min.js"></script>
          <script src="js/jquery.countdown.min.js"></script>
          <script src="js/jquery.magnific-popup.min.js"></script>
          <script src="js/bootstrap-datepicker.min.js"></script>
          <script src="js/aos.js"></script>
        
          <script src="js/main.js"></script>
        
          </body>
        </html>